*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
src/androidTest/
src/main/java/com/dispatching/feima/gen/OrderNoticeDao.java
src/main/res/anim/
src/main/res/animator/
src/test/
*.jks